<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" requireReinstallation="true" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" requireReinstallation="true" />
  <PackageReference Include="Microsoft.Bcl.Async" Version="1.0.168" />
</packages>